<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>    
  <h1><%= title %></h1>
  <div>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit Flight</button>
    </a>
    <div>Airline: <%= flight.airline %></div>
    <div>Airport: <%= flight.airport %></div>
    <form action="/flights/<%= flight._id %>/tickets" method="POST">
      <label for="ticket-input">Ticket:</label>
      <input name="seat" required pattern="[A-F][1-9]\d?"   id="ticket-input">
      <label for="price-input">Price:</label>
      <input name="price" min="0" id="price-input">
      <button type="submit">Add Ticket</button>
    </form>
    <form action="/flights/<%= flight._id %>/meals" method="POST">
      <select name="mealId">
      <% meals.forEach(function (meal) { %>
        <option value="<%= meal._id %>">
          <%= meal.name %>
        </option>
        <% }) %>
      </select>
      <button type="submit">Add Meal To Flight</button>
    </form>
    <h4>Meals on Flight:</h4>
    <ul>
      <% meals.forEach(function (meal) { %>
        <li>
          <%= meal.name %>
        </li>
        <% }) %>
    </ul>
    <Table>
      <thead>Tickets:</thead>
      <tbody>
        <% flight.ticketInfo.forEach(function (ticket) { %>
          <tr>  
          <td>Seat Number: <strong><%= ticket.seat %></strong> Price: <strong>$<%= ticket.price %></strong></td>
          </tr>
        <% }) %>
      </tbody>
    </Table>
    <div>Flight Number: <%= flight.flightNo %></div>
    <div>Departure: <%= flight.departs %></div>
  </div>
</main>

<%- include('../partials/footer') %>